.hidden-picture-answer-modal {
  position: relative;

  .modal-content {
    background-color: transparent;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__paper {
    position: absolute;
    left: 12px;
    top: 12px;
    width: calc(100% - 25px);
    height: calc(100% - 92px);
  }

  &__spring {
    position: absolute;
    top: -9px;
    transform: translateX(-50%);
    left: 50%;
  }

  &__title {
    text-align: center;
    position: relative;
    margin-top: 40px;

    &-text {
      margin-top: -81px;
      font-size: 36px;
      font-weight: bold;
      color: #1a1511;
    }
  }

  &__desc {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    color: #1a1511;
  }

  &__body {
    position: relative;
    padding: 100px;
    color: #73706d;
    font-size: 26px;

    input {
      font-size: 26px;
      font-weight: bold;
    }
  }

  &__divide {
    margin: 30px -40px;
    border-bottom: 2px dashed #73706d;
  }
}
