.side-bar {
  .main-menu-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: unset;
    text-decoration: unset;

    &.active {
      background-color: lightgoldenrodyellow;
      pointer-events: none;
    }
  }
}
