.play-hidden-picture-score-item {
  color: white;
  font-size: 26px;
  font-weight: bold;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 6px 6px 6px 12px;
  position: relative;

  @media (max-height: 800px) {
    font-size: 22px;
  }

  &.red {
    background-color: #a82424;
  }

  &.blue {
    background-color: #1d70c4;
  }

  &.green {
    background-color: #1d821d;
  }

  &.purple {
    background-color: #8d1298;
  }

  &.orange {
    background-color: #e58700;
  }

  &.brown {
    background-color: #d23f84;
  }

  &.cornflowerblue {
    background-color: #6495ed;
  }

  &.darkcyan {
    background-color: #008b8b;
  }

  &.slateblue {
    background-color: #6a5acd;
  }

  &.slategray {
    background-color: #708090;
  }

  &__score {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0px 8px;
    border-radius: 4px;
    width: 100px;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: end;
    user-select: none;
  }

  &__reward {
    cursor: pointer;
    color: #ffe731;

    img {
      width: 45px;
      margin: -10px 0;
    }
  }

  &__my-turn {
    position: absolute;
    left: -56px;
    top: -2px;
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@keyframes slidein {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-8px);
  }
}

.play-hidden-picture-score-item__result-modal {
  .modal-body {
    font-size: 40px;
    text-align: center;
    white-space: pre-line;
  }
}
