.play-hidden-picture-score {
  width: 326px;
  min-width: 326px;
  margin: 45px 40px;
  position: relative;

  &__title {
    position: relative;
    z-index: 1;
  }

  &__bg {
    height: calc(100% - 49px);
    position: absolute;
    left: 10px;
    top: 48px;
    width: calc(100% - 20px);
  }

  &__item-list {
    padding: 0 28px;
  }
}
