.play-hidden-picture-score {
  width: 300px;
  min-width: 300px;
  background-color: #fff;
  border-radius: 16px;
  padding: 16px;
  margin: 40px;

  .title {
    font-size: 36px;
    font-weight: bold;
  }
}
