.play-hidden-picture-quiz-item {
  padding: 10px;
  opacity: 1;
  transition: all 2s;
  position: relative;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &.finished {
    opacity: 0.8;
    background-color: black;

    .play-hidden-picture-quiz-item__badge-list {
      opacity: 0;
    }

    .play-hidden-picture-quiz-item__index {
      opacity: 0;
    }
  }

  &__badge-list {
    position: absolute;
    left: 4px;
    top: 4px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 2px;
    font-size: 20px;

    .star-icon {
      padding: 0.18em 0.5em;

      svg {
        width: 16px;
      }
    }
  }

  &__index {
    font-size: 50px;
  }
}

.play-hidden-picture-quiz-item__quiz-modal {
  .play-hidden-picture-quiz-item__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .play-hidden-picture-quiz-item__image-wrapper {
    max-width: 750px;
    display: inline-block;
    position: relative;
    border: 1px solid gray;

    img {
      max-width: 100%;
    }
  }

  .group-list {
    text-align: center;

    .btn-group {
      flex-wrap: wrap;
    }
  }
}
