.play-hidden-picture {
  display: flex;
  height: 100vh;
  // background-color: #e3f2f6;
  position: relative;

  &__bg {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
  }
}
