.quiz-item {
  opacity: 1;
  transition: all 2s;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.finished {
    opacity: 0.5;

    .quiz-type {
      opacity: 0;
    }

    .quiz-number {
      opacity: 0;
    }
  }

  &:nth-child(1) {
    border-top-left-radius: 16px;
  }

  &:nth-child(4) {
    border-top-right-radius: 16px;
  }

  &:nth-child(13) {
    border-bottom-left-radius: 16px;
  }

  &:nth-child(16) {
    border-bottom-right-radius: 16px;
  }

  .quiz-type {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 16px;
    font-weight: 500;
  }

  .quiz-number {
    font-size: 40px;
    font-weight: bold;
  }
}

.quiz-modal {
  .question {
    font-size: 36px;
    text-align: center;
    padding: 20px 60px;
    word-break: keep-all;
  }

  .example-list {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

    .example {
      border: 2px solid lightgray;
      padding: 8px;
      min-width: 100px;
      text-align: center;
      border-radius: 8px;
      margin: 0 10px;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;

      &.checked {
        background-color: lightgrey;
      }
    }
  }

  .answer {
    width: 300px;
    display: inline-block;
    margin-bottom: 100px;
  }

  .group-list {
    text-align: right;
  }
}

.quiz-result-modal {
  .modal-body {
    font-size: 40px;
    text-align: center;
  }
}
