.short-answer-question {
  position: absolute;

  input {
    padding: 4px;
  }

  &-move {
    cursor: move;
    position: absolute;
    left: -14px;
    top: -18px;
  }

  &-delete {
    cursor: pointer;
    position: absolute;
    right: -16px;
    top: -20px;
  }

  &-resize {
    cursor: se-resize;
    position: absolute;
    right: -1px;
    bottom: -3px;

    svg {
      width: 14px;
    }
  }
}
