.short-answer-question {
  position: absolute;

  &-move {
    cursor: move;
    position: absolute;
    left: -14px;
    top: -18px;
  }

  &-delete {
    cursor: pointer;
    position: absolute;
    right: -18px;
    top: -18px;
  }

  &-resize {
    cursor: se-resize;
    position: absolute;
    right: -18px;
    bottom: -18px;
  }
}
